<div class="well">
  <button class="btn btn-default" (click)="create()">新增</button>
  <button class="btn btn-default" (click)="save()">保存</button>
</div>


<form #f="ngForm">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">基本信息</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label>ID</label>
            <input type="text" name="ID" [ngModel]="data['Emp'][0]?.ID"  (ngModelChange)="data['Emp'][0].ID=$event" class="form-control">
          </div>
          <div class="form-group">
            <label>Code</label>
            <input type="text" name="Code" [ngModel]="data?.Emp[0]?.Code" (ngModelChange)="data['Emp'][0].Code=$event" class="form-control">
          </div>
          <div class="form-group">
            <label>Name</label>
            <input type="text" name="Name" [ngModel]="data?.Emp[0]?.Name" (ngModelChange)="data['Emp'][0].Name=$event" class="form-control">
          </div>
        </div>
    </div>
    
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">教育经历</h3>
        </div>
        <div class="panel-body">
    
          <table class="table">
            <thead>
                <th>ID</th>
                <th>EmpID</th>
                <th>SchoolName</th>
                <th>Begin</th>
                <th>End</th>
            </thead>
            <tbody>
              <tr *ngFor="let edu of data['Edu']">
                  <td><input type="text" name="ID-{{edu['ID']}}"         [(ngModel)]="edu['ID']"         class="form-control"></td>
                  <td><input type="text" name="EmpID-{{edu['ID']}}"      [(ngModel)]="edu['EmpID']"      class="form-control"></td>
                  <td><input type="text" name="SchoolName-{{edu['ID']}}" [(ngModel)]="edu['SchoolName']" class="form-control"></td>
                  <td><input type="text" name="BeginDate-{{edu['ID']}}"  [(ngModel)]="edu['BeginDate']"  class="form-control"></td>
                  <td><input type="text" name="EndDate-{{edu['ID']}}"    [(ngModel)]="edu['EndDate']"    class="form-control"></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">工作经历</h3>
        </div>
        <div class="panel-body">
    
          <table class="table">
            <thead>
                <th>ID</th>
                <th>EmpID</th>
                <th>CompanyName</th>
                <th>Begin</th>
                <th>End</th>
            </thead>
            <tbody>
              <tr *ngFor="let job of data['Job']">
                  <td><input type="text" name="ID-{{job['ID']}}"         [(ngModel)]="job['ID']"         class="form-control"></td>
                  <td><input type="text" name="EmpID-{{job['ID']}}"      [(ngModel)]="job['EmpID']"      class="form-control"></td>
                  <td><input type="text" name="SchoolName-{{job['ID']}}" [(ngModel)]="job['CompanyName']" class="form-control"></td>
                  <td><input type="text" name="BeginDate-{{job['ID']}}"  [(ngModel)]="job['BeginDate']"  class="form-control"></td>
                  <td><input type="text" name="EndDate-{{job['ID']}}"    [(ngModel)]="job['EndDate']"    class="form-control"></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    

  </form>



<pre>{{data|json}}</pre>

